.footer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin:  0;

}
.left p{
    margin: 0 30px;
    color: white;
    font-size: 14px;

}
.right{
    display: flex;
    margin-right: 20px;
}
.right a{
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 10px;
}